.min-h-screen{
    min-height: 100vh;
}
.nx-auto{
    margin-left: auto;
    margin-right: auto;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.font-bold{
    font-weight: bold;
}
.my-1{
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(201 40 40 / 99%);
}
.my-2{
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(201 40 40 / 99%);
}
.px-2{
    padding-left: 20px;
    padding-right: 20px;
}
.btn{
    padding: 4px 12px ;
    border: 2px ;
    border-radius: 12px;
    background:rgba(201 40 40 / 99%);
    cursor: pointer;
}

.text-center{
    text-align: center;
}
.f-1{
    padding: 0px 137px;
    font-size: 0.9rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hilighted{
    font-size: 1.5rem;
    font-weight: bolder;
}
.HeadPhonetable{
    display: flex;
    justify-content: center;
    align-items: center;
}